{{#if showPaypal}}
<div>
  <div>
      <center>

        {{#if subscriptionProduct}}
            <div id="subscription-button-container">
                {{d-button action="submitPayment" label="memberships.checkout.subscribe" id="subscription-checkout" class="btn-primary"}}
            </div>
        {{else}}
                {{#unless hidePaypalButton}}
                    <div id="paypal-button-container"></div>
                {{/unless}}
                {{#if hidePaypalButton}}
                    <p>Please wait for PayPal transaction to complete. Do not navigate away from this page.</p>
                {{/if}}
        {{/if}}

      </center>

  </div>
</div>
{{/if}}
{{#if showLoading }}
 {{loading-spinner}}
{{/if}}
