{{#if showLoading }}
 {{loading-spinner}}
{{/if}}
{{#if showStripe}}
<div>
  <div>
      <center>
        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label class="payment-form-label" for="card-element">
                Credit or debit card
                </label>
                <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
      </center>
    
  </div>
</div>
{{/if}}
