<div id="checkout-progress">
  <div id="states-wrapper" class="{{state}}-state">
    <div class="state" id="sign-in">
      <div class="title">Sign In</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="billing-payment">
      <div class="title">Billing & Payment</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="review">
      <div class="title">Review</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="completed">
      <div class="title">Completed</div>
      <div class="indicator"></div>
    </div>
    <div id="line"></div>
  </div>
</div>