.league{
  label {
    margin-top: 25px;
  }

  .help{
    color: #919191;
    padding-top: 3px;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0px;
    font-weight: normal;
  }

  .raw-bio {
    margin-top: 20px;
  }
}

.league.league-page{
  max-width: 700px;
  margin: 0px auto;
}