.league.admin{
  label {
    margin-top: 25px;
  }

  .help{
    color: #919191;
    padding-top: 3px;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0px;
    font-weight: normal;
  }

  .raw-bio {
    margin-top: 20px;
  }

}
.league.checkout{
  max-width: 500px;
  margin: 0px auto;

  h1{
    text-align: center;
  }

  .billing-section{
    h3{
      margin:20px 0px;
      text-align: center;
    }
  }

  .controls input{
    width: calc(100% - 10px);
  }
  .expiration > span{
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .expiration-month, .expiration-year{
    float: left;
  }
  .expiration-month{
    min-width: 75px;
    width: 75px;
   margin-right: 10px; 
  }
  .expiration-year{
    min-width: 100px;
    width: 100px;
    margin-left: 10px;
  }
}

.league.league-page{
  max-width: 700px;
  margin: 0px auto;
}