.league.admin{
  label {
    margin-top: 25px;
  }
  input[type="number"]{
    max-width: 40px;
  }

  .help{
    color: #919191;
    padding-top: 3px;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0px;
    font-weight: normal;
  }

  .raw-bio {
    margin-top: 20px;
  }

}
.league.checkout{
  max-width: 500px;
  margin: 0px auto;

  h1{
    text-align: center;
  }

  .billing-section{
    h3{
      margin:20px 0px;
      text-align: center;
    }
  }

  .controls input{
    width: calc(100% - 10px);
  }
  .expiration > span{
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .expiration-month, .expiration-year{
    float: left;
  }
  .expiration-month{
    min-width: 75px;
    width: 75px;
   margin-right: 10px; 
  }
  .expiration-year{
    min-width: 100px;
    width: 100px;
    margin-left: 10px;
  }
  .account-buttons{
    text-align: center;
    margin-top: 20px;
  }
  #checkout-progress{
    margin: 30px 0px;

    #line{
      min-height: 3px;
      background-color: #ccc;
    }
    #states-wrapper{
      margin: 0px auto;
      color: #666;
      font-size: 0.9em;
    }
    .state{
      display: inline-block;
      width: calc(25% - 3px);
      text-align: center;
    }
    .indicator{
      height: 10px;
      width: 10px;
      border: 2px solid #cccccc;
      background: #cccccc;
      border-radius: 100%;
      position: relative;
      top: 8px;
      left: calc(50% - 6px);
    }
    .sign-in-state{
      #sign-in .indicator{
        background: #ffffff;
      }
      #billing-payment .indicator{
        background: #cccccc;
      }
      #verify .indicator{
        background: #cccccc;
      }
      #completed .indicator{
        background: #cccccc;
      }
    }
    .billing-payment-state{
      #sign-in .indicator{
        background: #cccccc;
      }
      #billing-payment .indicator{
        background: #ffffff;
      }
      #verify .indicator{
        background: #cccccc;
      }
      #completed .indicator{
        background: #cccccc;
      }
    }
    .verify-state{
      #sign-in .indicator{
        background: #cccccc;
      }
      #billing-payment .indicator{
        background: #cccccc;
      }
      #verify .indicator{
        background: #ffffff;
      }
      #completed .indicator{
        background: #cccccc;
      }
    }
    .completed-state{
      #sign-in .indicator{
        background: #cccccc;
      }
      #billing-payment .indicator{
        background: #cccccc;
      }
      #verify .indicator{
        background: #cccccc;
      }
      #completed .indicator{
        background: #ffffff;
      }
    }
  }
}

.league.league-page{
  max-width: 700px;
  margin: 0px auto;
}